html {
  box-sizing: border-box;
  font-size: 12px;
  
  @include respond-above-small {
    font-size: 16px;
  }

  font-family: 'Roboto Slab', serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  margin-bottom: 50px;
}

.text-bold {
  font-weight: bold;
}

h1 {
  color: $black;
  font-family: 'Lobster', cursive;
  @include h1;
}