$small-keyline: 12px;
$large-keyline: 16px;

.list-container {
  margin: 8px 0;
  height: 64px;
  @include respond-above-small {
    height: 72px;
  }
  border-radius: 10px;
  border: 2px $primary solid;
  z-index: 0;
}

.list-container-expanded {
  margin: 8px 0;
  height: 136px;
  @include respond-above-small {
    height: 170px;
  }
  border-radius: 10px;
  border: 2px $primary solid;
  background-color: $primary;
  margin-bottom: 5px;

}


.list-item-title {
  @include subtitle;
  padding: 8px $small-keyline;
  @include respond-above-small {
    padding: 8px $large-keyline;
  }
  position: relative;
}

.list-item-title-expanded {
  display: block;
  width: 100%;
  color: white;
}

.list-item-container {
  padding-left: $small-keyline;
  @include respond-above-small {
    padding-left: $large-keyline;
  }
}

.list-item-container-expanded {
  padding-top: 8px;
  width: 100%;
  background-color: white;
  border-radius: 0 0 10px 10px;
}


.list-item-expanded-bottom-items {
  // padding-bottom: 16px;
}

.list-item-stars-expanded {
  display: inline-block;
}

p.list-item-description {
  $font-size: 1rem;
  $line-height: 1.4;
  $lines-to-show: 3;
  display: block; 
  /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 220px;
  @media (min-width: 321px) {
    max-width: 275px;
  }
  @media (min-width: 421px) {
    max-width: 375px;
  }
  @include respond-above-small {
    max-width: 550px;
  }
  height: $font-size*$line-height*$lines-to-show; 
  /* Fallback for non-webkit */
  margin: 0 auto 0 0;
  font-size: $font-size;
  line-height: $line-height;
  -webkit-line-clamp: $lines-to-show;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-item-expander {
  // 64, 72
  height: 16px;
  width: 16px;
  float: right;
  padding-top: 0;
  // margin-top: 24px;
  color: $primary;
  margin-right: $small-keyline + 2;
  margin-top: 16px;
  @include respond-above-small {
    margin-right: $large-keyline + 3;
    // (72px container - 16px img) / 2 - 8px top padding
    margin-top: 20px;
  }
}

.list-item-condenser {
  height: 12px;
  width: 12px;
  @include respond-above-small {
    height: 16px;
    width: 16px;
  }
  float: right;
  color: white;
  z-index: 3;
  margin-right: $small-keyline + 2;
  // 32, 38px title bar height
  margin-top: 6px;
  @include respond-above-small {
    margin-right: $large-keyline + 3;
  }
}

.list-item-delete {
  // 42, 51
  float: right;
  // margin-top: 14px;
  // margin-right: 16px;
  width: 16px;
  height: 16px;
  margin-right: $small-keyline;
  margin-top: 12px;
  @include respond-above-small {
    width: 20px;
    height: 20px;
    margin-right: $large-keyline;
    margin-top: 14px;
  }
  color: $primary;
}

// LVHA

.list-container-condensed:hover {
  border: 2px $focus solid;

  .list-item-expander {
    color: $focus;
  }
}

.list-item-title-expanded:hover {
  .list-container-expanded {
    background-color: $focus;
    border: 2px $focus solid;
  }
}

.list-item-expander:hover {
  color: $focus;
}

.list-item-delete:hover {
  color: $focus;
}