// Font-size baseline
@mixin h1 { 
  font-size: 4.827em;
  text-align: center;
}

@mixin subtitle {
  font-size: 1.414em;
  font-color: $focus;
}

@mixin primary-button-font {
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: 100;
  color: white;
}

@mixin ghost-button-font {
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: 100;
  color: $primary;
}