// Color baseline
$black: #342828;
$primary: #5A70E7;
$focus: #283267;
$gray: #C4C4C4;
$grey: #C4C4C4;

// Font-size baseline
@mixin h1 { font-size: 2.827em;
}

@mixin subtitle {
  font-size: 1.414em;
  font-color: $focus;
}


@mixin shadow {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

// Media query mixins
$small-breakpoint: 660px;

@mixin respond-small-only {
  @media (max-width: #{$small-breakpoint}) {
    @content;
  }
}

@mixin respond-above-small {
  @media (min-width: #{$small-breakpoint + 1}) {
    @content;
  }
}

@mixin print {
  @media print {
    @content;
  }
}